# MODULE IMPORTS AND INSTALLATIONS

In [222]:
# !pip install yfinance requests-cache nltk python-dotenv alpaca-py matplotlib tensorflow

In [1]:
# Import packages
import dotenv
import requests
import os
import yfinance as yf
import pandas as pd
import alpaca
import datetime
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [20]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=USD&interval=5min&apikey=1K8Q5IV0JSM1CB70&datatype=csv'
r = requests.get(url)
data = r.text

print(data)

timestamp,open,high,low,close,volume
2024-05-03 20:00:00,89.9700,89.9700,89.9700,89.9700,1870
2024-05-03 19:55:00,90.3900,90.5000,90.3900,90.5000,150
2024-05-03 19:40:00,90.5000,90.5000,90.5000,90.5000,2
2024-05-03 19:25:00,90.5000,90.5000,90.5000,90.5000,400
2024-05-03 19:20:00,90.0800,90.3800,90.0800,90.2500,483
2024-05-03 18:55:00,90.0000,90.0900,90.0000,90.0900,10
2024-05-03 18:45:00,89.8100,89.8100,89.8100,89.8100,10
2024-05-03 18:30:00,89.9700,89.9700,89.9700,89.9700,1870
2024-05-03 18:15:00,89.8100,89.9700,89.8100,89.8100,20
2024-05-03 18:05:00,89.9700,89.9700,89.8000,89.8000,1010
2024-05-03 18:00:00,90.0000,90.0000,90.0000,90.0000,10
2024-05-03 17:55:00,89.9700,89.9700,89.8000,89.9700,225
2024-05-03 17:50:00,89.9700,89.9700,89.9700,89.9700,1
2024-05-03 17:35:00,89.9700,89.9700,89.9700,89.9700,8
2024-05-03 17:30:00,88.1300,89.8000,87.6000,89.8000,15
2024-05-03 17:25:00,89.9700,89.9700,89.9700,89.9700,19
2024-05-03 17:20:00,89.9700,89.9700,89.9700,89.9700,16
2024-05-03 17:15:00,89.9700,89.9700,89.9700,89.9700,10
2024-05-03 17:05:00,90.0000,90.0000,90.0000,90.0000,7
2024-05-03 17:00:00,90.0000,90.0000,90.0000,90.0000,1
2024-05-03 16:50:00,90.0000,90.0000,88.5500,89.9800,4
2024-05-03 16:40:00,88.1950,90.0000,88.0660,89.8100,23
2024-05-03 16:25:00,90.1000,90.1000,90.1000,90.1000,5
2024-05-03 16:20:00,90.0000,90.1000,90.0000,90.1000,15
2024-05-03 16:15:00,90.2500,90.2500,90.2500,90.2500,1
2024-05-03 16:10:00,89.9700,90.0000,89.9700,90.0000,1873
2024-05-03 16:05:00,90.0000,90.0000,90.0000,90.0000,3
2024-05-03 16:00:00,89.9700,90.2880,89.8700,89.9900,3765
2024-05-03 15:55:00,89.7600,89.9400,89.7500,89.9400,3901
2024-05-03 15:50:00,89.5900,89.9400,89.5600,89.8350,15323
2024-05-03 15:45:00,89.8800,89.8800,89.6400,89.6400,1816
2024-05-03 15:40:00,89.9100,89.9900,89.8750,89.9200,2111
2024-05-03 15:35:00,90.0000,90.0000,89.9950,89.9950,259
2024-05-03 15:30:00,90.0200,90.0200,89.7600,89.7600,1362
2024-05-03 15:25:00,90.0300,90.1600,90.0300,90.1000,618
2024-05-03 15:20:00,89.8500,89.9400,89.8400,89.9300,996
2024-05-03 15:15:00,89.9500,90.0600,89.9200,89.9200,1516
2024-05-03 15:10:00,90.0800,90.0800,90.0800,90.0800,202
2024-05-03 15:05:00,90.1100,90.1100,90.0500,90.0500,1225
2024-05-03 15:00:00,89.8730,89.8730,89.7600,89.8350,923
2024-05-03 14:55:00,89.9000,90.0100,89.8000,89.8830,2134
2024-05-03 14:50:00,90.1700,90.1700,90.1000,90.1000,216
2024-05-03 14:45:00,90.1200,90.1200,90.0800,90.1200,652
2024-05-03 14:40:00,90.1400,90.1400,90.1300,90.1400,1579
2024-05-03 14:35:00,90.3500,90.3500,90.3100,90.3100,1071
2024-05-03 14:30:00,90.3100,90.3400,90.3100,90.3400,1225
2024-05-03 14:25:00,90.2000,90.2200,90.2000,90.2200,541
2024-05-03 14:20:00,90.3000,90.3000,90.1500,90.1500,3054
2024-05-03 14:15:00,90.2300,90.3500,90.2300,90.3500,1876
2024-05-03 14:10:00,90.2500,90.2500,90.2500,90.2500,204
2024-05-03 14:05:00,89.7700,90.1090,89.7700,90.0800,8767
2024-05-03 14:00:00,89.7200,89.7900,89.7160,89.7900,4456
2024-05-03 13:55:00,89.8400,89.8600,89.6300,89.6300,3991
2024-05-03 13:50:00,89.6700,89.7990,89.6700,89.7820,1639
2024-05-03 13:45:00,89.6700,89.6700,89.6400,89.6400,204
2024-05-03 13:40:00,89.5400,89.5400,89.5000,89.5300,540
2024-05-03 13:35:00,89.7200,89.7200,89.5900,89.6700,846
2024-05-03 13:30:00,89.7800,89.8000,89.4500,89.6800,1581
2024-05-03 13:25:00,89.9800,90.0200,89.9000,89.9000,1348
2024-05-03 13:20:00,90.1400,90.1800,90.0300,90.0400,7145
2024-05-03 13:15:00,89.9220,90.2000,89.9220,90.0820,4308
2024-05-03 13:10:00,89.9110,90.0900,89.9110,90.0200,3214
2024-05-03 13:05:00,89.5800,89.9400,89.5800,89.9400,1118
2024-05-03 13:00:00,89.6300,89.6300,89.6100,89.6100,322
2024-05-03 12:55:00,89.4300,89.5600,89.4300,89.5600,1064
2024-05-03 12:50:00,89.6700,89.6700,89.5000,89.5000,1627
2024-05-03 12:45:00,89.8600,89.9600,89.7430,89.7430,992
2024-05-03 12:40:00,90.0400,90.0800,89.8000,89.8730,1419
2024-05-03 12:35:00,89.6900,90.0500,89.6900,90.0500,1177
2024-05-03 12:30:00,89.7400,89.8500,89.6000,89.6000,3665
2024-05-03 12:25:00,89.8880,89.8880,89.6900,89.6900,1502
2024-05-03 12:20:00,89.5600,89.7770,89.5000,89.7770,2887
2024-05-03 12:15:00,89.7300,89.7500,89.6100,89.6470,692
2024-05-03 12:10:00,89.8700,89.9500,89.8000,89.8000,1131
2024-05-03 12:05:00,89.7300,90.0000,89.7300,89.8300,2572
2024-05-03 12:00:00,89.4300,89.7640,89.4300,89.7400,649
2024-05-03 11:55:00,89.7000,89.8700,89.6700,89.8700,1446
2024-05-03 11:50:00,89.3400,89.6000,89.3350,89.6000,1943
2024-05-03 11:45:00,89.4700,89.4700,89.2500,89.2900,2895
2024-05-03 11:40:00,89.4000,89.4000,89.3200,89.3200,1195
2024-05-03 11:35:00,89.2600,89.3300,89.2600,89.3300,2292
2024-05-03 11:30:00,88.9700,89.2200,88.9100,89.2200,2500
2024-05-03 11:25:00,88.6580,88.9400,88.6500,88.9400,6029
2024-05-03 11:20:00,88.5500,88.6900,88.5500,88.5850,2182
2024-05-03 11:15:00,88.1800,88.5250,88.1800,88.5200,822
2024-05-03 11:10:00,88.0000,88.2900,88.0000,88.2100,2481
2024-05-03 11:05:00,88.2300,88.5300,88.2100,88.2100,1571
2024-05-03 11:00:00,88.3500,88.3500,88.2300,88.3100,767
2024-05-03 10:55:00,89.0800,89.0800,88.3980,88.3980,2210
2024-05-03 10:50:00,89.3400,89.3400,88.7800,88.8200,3855
2024-05-03 10:45:00,89.5000,89.6200,89.4500,89.4500,2715
2024-05-03 10:40:00,89.0900,89.0900,89.0000,89.0800,2416
2024-05-03 10:35:00,88.5100,88.8600,88.5100,88.8000,1618
2024-05-03 10:30:00,88.6500,88.8200,88.4100,88.6500,2356
2024-05-03 10:25:00,88.1150,88.7850,87.7900,88.7850,5450
2024-05-03 10:20:00,88.4600,88.4600,88.0450,88.3200,4650
2024-05-03 10:15:00,88.4600,88.8070,88.4100,88.5600,3292
2024-05-03 10:10:00,89.1300,89.8800,88.5000,88.5000,17695
2024-05-03 10:05:00,88.8470,89.4500,88.8470,89.1100,5138
2024-05-03 10:00:00,90.1200,90.1300,89.0000,89.0100,7875

# CODE SETUP

In [2]:
# SETUP ENVIRONMENT VARIABLES
dotenv.load_dotenv()

True

# FUNCTION DEFINATIONS

In [18]:
# import nltk
# resources: punkt, averaged_perceptron_tagger, vader_lexicon, maxent_ne_chunker, words

# Initialize the sentiment analyzer
# nltk.download('words')

# FINANCIAL DATA (YFINANCE)

In [211]:
msft = yf.Ticker("BTC")
hist = msft.history(period="10y")

# Turn columns to lowercases
for hist_column in hist.columns:
    hist[hist_column.lower().replace(' ', '_')] = hist.pop(hist_column)
hist

,open,high,low,close,volume,dividends,stock_splits,capital_gains
Date,,,,,,,,
2020-10-01 00:00:00-04:00,95.702156,95.702156,95.702156,95.702156,0,0.0,0.0,0.0
2020-10-02 00:00:00-04:00,95.702156,95.702156,95.702156,95.702156,0,0.0,0.0,0.0
2020-10-05 00:00:00-04:00,95.730857,95.740429,95.697365,95.697365,10725,0.0,0.0,0.0
2020-10-06 00:00:00-04:00,95.711713,95.730850,95.711713,95.730850,10080,0.0,0.0,0.0
2020-10-07 00:00:00-04:00,95.654312,95.663884,95.625603,95.625603,6350,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-04-24 00:00:00-04:00,90.480103,90.599197,90.480103,90.599197,9183,0.0,0.0,0.0
2024-04-25 00:00:00-04:00,90.360001,90.375702,90.330002,90.360001,3428,0.0,0.0,0.0
2024-04-26 00:00:00-04:00,90.533798,90.533798,90.533798,90.533798,97,0.0,0.0,0.0
2024-04-29 00:00:00-04:00,90.709801,90.709801,90.610001,90.672302,573,0.0,0.0,0.0
2024-04-30 00:00:00-04:00,90.489998,90.489998,90.482399,90.482399,214,0.0,0.0,0.0

# DOWNLOADED DATA

In [6]:
# READING DOWNLOADED DATA
hist = pd.read_csv("AAPL_1min_firstratedata.csv")
hist.index = pd.to_datetime(hist["timestamp"])

# CLEAN THE DATA
hist = hist[hist.columns[1:]].dropna().drop_duplicates()
hist

                       open    high     low   close  volume
timestamp
2022-09-30 04:00:00  143.59  143.59  143.10  143.49    4060
2022-09-30 04:01:00  143.49  143.49  143.38  143.38     481
2022-09-30 04:02:00  143.22  143.22  143.22  143.22     107
2022-09-30 04:03:00  143.39  143.39  143.21  143.23    2811
2022-09-30 04:04:00  143.30  143.32  143.30  143.32     309
...                     ...     ...     ...     ...     ...
2023-09-29 19:45:00  171.20  171.20  171.20  171.20     800
2023-09-29 19:46:00  171.20  171.20  171.20  171.20    1917
2023-09-29 19:47:00  171.20  171.21  171.20  171.21     594
2023-09-29 19:48:00  171.21  171.21  171.21  171.21     768
2023-09-29 19:49:00  171.21  171.22  171.21  171.22    3256

[188818 rows x 5 columns]

# TECHNICAL INDICATORS

In [8]:
technical_data = hist.copy()

def calculate_rsi(data, window=14):
    delta = data['close'].diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=window).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=window).mean()
    rs = gain / loss
    rsi = 100 - (100 / (1 + rs))
    return rsi


def calculate_sma(data, window=14):
    return data['close'].rolling(window=window).mean()


def calculate_ema(data, span=14):
    return data['close'].ewm(span=span, adjust=False).mean()


def calculate_stochastic_oscillator(data, window=14):
    lowest_low = data['low'].rolling(window=window).min()
    highest_high = data['high'].rolling(window=window).max()
    stochastic_k = ((data['close'] - lowest_low) / (highest_high - lowest_low)) * 100
    return stochastic_k


def calculate_bollinger_bands(data, window=20, num_std=2):
    rolling_mean = data['close'].rolling(window=window).mean()
    rolling_std = data['close'].rolling(window=window).std()
    upper_band = rolling_mean + (rolling_std * num_std)
    lower_band = rolling_mean - (rolling_std * num_std)
    return upper_band, lower_band


def calculate_macd(data, short_window=12, long_window=26, signal_window=9):
    short_ema = calculate_ema(data, span=short_window)
    long_ema = calculate_ema(data, span=long_window)
    macd_line = short_ema - long_ema
    signal_line = macd_line.rolling(window=signal_window).mean()
    return macd_line, signal_line


# INDICATOR WINDOWS
MA_WINDOW = 14
BOLLINGER_WINDOW = 20
MACD_SIGNAL_WINDOW = 9
MACD_SHORT_WINDOW = 12
MACD_LONG_WINDOW = 26
BOLLINGER_N_STD = 2


upper_band, lower_band = calculate_bollinger_bands(technical_data, window=BOLLINGER_WINDOW, num_std=BOLLINGER_N_STD)
technical_data['bollinger_upper'] = upper_band
technical_data['bollinger_lower'] = lower_band
technical_data['sma'] = calculate_sma(technical_data, window=MA_WINDOW)
technical_data['ema'] = calculate_ema(technical_data, span=MA_WINDOW)
technical_data['rsi'] = calculate_rsi(technical_data, window=MA_WINDOW)
technical_data['stochastic'] = calculate_stochastic_oscillator(technical_data, window=MA_WINDOW)

macd_line, signal_line = calculate_macd(technical_data, 
                                        short_window=MACD_SHORT_WINDOW,
                                        long_window=MACD_LONG_WINDOW,
                                        signal_window=MACD_SIGNAL_WINDOW)
technical_data['macd'] = macd_line
technical_data['macd_signal'] = signal_line
technical_data["day_of_week"] = technical_data.index.day_of_week
technical_data = technical_data.dropna()

# OUTCOMES OF THE TICKER
technical_data["buy_sell"] = (technical_data.open - technical_data.close > 0).apply(lambda x: 1 if x > 0 else 0)
technical_data

,open,high,low,close,volume,bollinger_upper,bollinger_lower,sma,ema,rsi,stochastic,macd,macd_signal,day_of_week,buy_sell
timestamp,,,,,,,,,,,,,,,
2022-09-30 04:27:00,143.30,143.30,143.30,143.30,200,143.509870,143.048130,143.267143,143.310117,56.410256,61.224490,-0.023125,-0.039314,4,0
2022-09-30 04:30:00,143.30,143.30,143.22,143.22,632,143.475008,143.055992,143.282857,143.298101,66.666667,42.553191,-0.028519,-0.035728,4,1
2022-09-30 04:32:00,143.30,143.30,143.30,143.30,100,143.464765,143.058235,143.302857,143.298354,69.444444,47.222222,-0.026039,-0.032777,4,0
2022-09-30 04:33:00,143.24,143.24,143.23,143.23,1121,143.464884,143.059116,143.305000,143.289240,52.459016,10.344828,-0.029383,-0.030800,4,1
2022-09-30 04:36:00,143.24,143.24,143.10,143.20,6283,143.464819,143.056181,143.302143,143.277342,46.666667,25.641026,-0.034061,-0.029876,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-29 19:45:00,171.20,171.20,171.20,171.20,800,171.351791,171.159569,171.252143,171.245882,44.434570,0.000000,-0.057752,-0.056574,4,0
2023-09-29 19:46:00,171.20,171.20,171.20,171.20,1917,171.349758,171.153252,171.248571,171.239764,44.444444,0.000000,-0.056455,-0.056573,4,0
2023-09-29 19:47:00,171.20,171.21,171.20,171.21,594,171.346968,171.149042,171.238571,171.235796,30.555556,7.142857,-0.053999,-0.057081,4,0
2023-09-29 19:48:00,171.21,171.21,171.21,171.21,768,171.347132,171.146878,171.232143,171.232356,35.483871,7.142857,-0.051459,-0.056827,4,0
2023-09-29 19:49:00,171.21,171.22,171.21,171.22,3256,171.346824,171.145186,171.226429,171.230709,37.500000,14.285714,-0.048084,-0.055893,4,0

In [14]:
technical_data[technical_data.buy_sell == 1]

,open,high,low,close,volume,bollinger_upper,bollinger_lower,sma,ema,rsi,stochastic,macd,macd_signal,day_of_week,buy_sell
timestamp,,,,,,,,,,,,,,,
2022-09-30 04:30:00,143.3000,143.3000,143.22,143.22,632,143.475008,143.055992,143.282857,143.298101,66.666667,42.553191,-0.028519,-0.035728,4,1
2022-09-30 04:33:00,143.2400,143.2400,143.23,143.23,1121,143.464884,143.059116,143.305000,143.289240,52.459016,10.344828,-0.029383,-0.030800,4,1
2022-09-30 04:36:00,143.2400,143.2400,143.10,143.20,6283,143.464819,143.056181,143.302143,143.277342,46.666667,25.641026,-0.034061,-0.029876,4,1
2022-09-30 04:40:00,143.2100,143.2100,143.20,143.20,5244,143.432500,143.099500,143.250000,143.227923,43.209877,38.297872,-0.048842,-0.036246,4,1
2022-09-30 04:58:00,143.5800,143.5800,143.57,143.57,481,143.570257,143.046743,143.316429,143.378626,68.085106,98.214286,0.048817,-0.001322,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-29 18:58:00,171.2301,171.2301,171.23,171.23,1360,171.664249,171.238291,171.411814,171.388630,26.923077,0.000000,-0.062992,-0.030651,4,1
2023-09-29 18:59:00,171.2500,171.2500,171.24,171.24,300,171.666044,171.207496,171.396814,171.368812,29.411765,3.125000,-0.069098,-0.036208,4,1
2023-09-29 19:13:00,171.2501,171.2501,171.25,171.25,800,171.610306,171.169244,171.353957,171.332361,31.022590,6.250000,-0.072116,-0.055613,4,1
2023-09-29 19:30:00,171.3000,171.3000,171.20,171.21,1844,171.519561,171.132979,171.277400,171.302325,41.269841,6.666667,-0.053737,-0.060242,4,1
2023-09-29 19:42:00,171.2100,171.2100,171.20,171.20,500,171.358137,171.165223,171.255721,171.252940,40.000000,0.000000,-0.058566,-0.056317,4,1

In [15]:
technical_data.to_csv("AAPL_1m_technical.csv")

# Model training

In [215]:
"""Train set"""
TRAIN_SAMPLE_SIZE = int(len(hist) * 0.8)
X = hist[:TRAIN_SAMPLE_SIZE]
Y = hist["is_buy"][:TRAIN_SAMPLE_SIZE]

"""Test set"""
X_test = hist[hist.columns[:-1]][TRAIN_SAMPLE_SIZE-1:-1]
Y_test = hist["is_buy"][TRAIN_SAMPLE_SIZE-1:-1]


print("Training set:")
print(X.shape, Y.shape)

print("\nTesting set:")
print(X_test.shape, Y_test.shape)

Training set:
(688, 18) (688,)

Testing set:
(172, 17) (172,)

In [216]:
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X[X.columns[:-1]])
X_normalized.shape

(688, 17)

In [183]:
X_normalized = X[X.columns[:-1]]

In [217]:
X_scaled = X_normalized
Y_scaled = Y
print(X_scaled.shape, Y_scaled.shape)

(688, 17) (688,)

In [218]:
def perfomance_metric(X_test, Y_test, model):
  Y_preds = model.predict(X_test)
  combined_actual_to_preds = pd.DataFrame(dict(actual=Y_test, prediction=Y_preds))
  print(classification_report(Y_test, Y_preds))
  return pd.crosstab(index=combined_actual_to_preds["actual"], columns=combined_actual_to_preds["prediction"])

In [ ]:
all_normalizer = tf.keras.layers.Normalization(input_shape=(1,))
all_normalizer.adapt(X[X.columns[:-1]])

model = tf.keras.layers.Sequential([
    all_normalizer,
    tf.keras.layers.Dense(32, activation="relu"),
    tf.keras.layers.Dense(32, activation="relu"),
    tf.keras.layers.Dense(1),
])

model.compile(optimizer=)

In [219]:
"""Model defination"""
classifier = RandomForestClassifier()
classifier.fit(X_scaled, Y_scaled)
print(perfomance_metric(X_test.values, Y_test.values, model=classifier))

              precision    recall  f1-score   support

           0       0.77      0.93      0.84       130
           1       0.36      0.12      0.18        42

    accuracy                           0.73       172
   macro avg       0.56      0.52      0.51       172
weighted avg       0.67      0.73      0.68       172

prediction    0  1
actual
0           121  9
1            37  5

In [202]:
import numpy as np

def sharpe_ratio(returns, risk_free_rate=0):
    """
    Calculate the Sharpe Ratio.

    Args:
    - returns (np.array or pd.Series): Array or Series of returns.
    - risk_free_rate (float): Risk-free rate, default is 0.

    Returns:
    - float: Sharpe Ratio.
    """
    excess_returns = returns - risk_free_rate
    mean_return = excess_returns.mean()
    std_dev = excess_returns.std()
    sharpe_ratio = mean_return / std_dev if std_dev != 0 else np.nan
    return sharpe_ratio

def value_at_risk(returns, confidence_level=0.95):
    """
    Calculate the Value at Risk (VaR).

    Args:
    - returns (np.array or pd.Series): Array or Series of returns.
    - confidence_level (float): Confidence level, default is 0.95.

    Returns:
    - float: Value at Risk.
    """
    return np.percentile(returns, 100 * (1 - confidence_level))

def maximum_drawdown(returns):
    """
    Calculate the Maximum Drawdown.

    Args:
    - returns (np.array or pd.Series): Array or Series of returns.

    Returns:
    - float: Maximum Drawdown.
    """
    cumulative_returns = np.cumprod(1 + returns)
    peak = cumulative_returns.argmax()
    trough = cumulative_returns[:peak].argmin()
    drawdown = (cumulative_returns[peak] - cumulative_returns[trough]) / cumulative_returns[peak]
    return drawdown

returns = hist['close'].pct_change().dropna()
print(returns)
# Example usage:
print("Sharpe Ratio:", sharpe_ratio(returns))
print("Value at Risk (VaR):", value_at_risk(returns))
print("Maximum Drawdown:", maximum_drawdown(returns))

Date
2014-05-30 00:00:00-04:00   -0.000339
2014-06-02 00:00:00-04:00   -0.010645
2014-06-03 00:00:00-04:00   -0.016229
2014-06-04 00:00:00-04:00   -0.000514
2014-06-05 00:00:00-04:00    0.016965
                               ...
2024-04-24 00:00:00-04:00    0.007379
2024-04-25 00:00:00-04:00   -0.019553
2024-04-26 00:00:00-04:00    0.099652
2024-04-29 00:00:00-04:00   -0.033335
2024-04-30 00:00:00-04:00   -0.019416
Name: close, Length: 2497, dtype: float64
Sharpe Ratio: 0.04885905527308035
Value at Risk (VaR): -0.02648469313221368
Maximum Drawdown: 0.8585982515250006

/tmp/ipykernel_64502/2518108231.py:46: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  drawdown = (cumulative_returns[peak] - cumulative_returns[trough]) / cumulative_returns[peak]